<!DOCTYPE html>
<html>
<head>
<title>W3.CSS Template</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<style>
.bg {font-family: "Raleway", sans-serif}
.bg, .full {height: 100%}
.img {
  background-image: url('images/foodbg1.jpg');
  min-height: 100%;
  background-position: center;
  background-size: cover;
}

</style>
</head>
<body>

<div class="img w3-dc w3-an w3-tx-w">
  <div class="w3-tl w3-pd w3-xl">
    Logo
  </div>
  <div class="w3-md">
    <h1 class="w3-j w3-at">COMING SOON</h1>
    <hr class="w3-br w3-gy" style="margin:auto;width:40%">
    <p class="w3-l w3-ct">35 days left</p>
  </div>
  
</div>

</body>
</html>
